@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 23% 91%;
    --foreground: 96 10% 20%;
    --card: 47 23% 96%;
    --card-foreground: 96 10% 20%;
    --popover: 47 23% 96%;
    --popover-foreground: 96 10% 20%;
    --primary: 96 10% 32%;
    --primary-foreground: 47 23% 96%;
    --secondary: 47 15% 85%;
    --secondary-foreground: 96 10% 20%;
    --muted: 47 15% 88%;
    --muted-foreground: 96 10% 45%;
    --accent: 96 10% 45%;
    --accent-foreground: 47 23% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 15% 80%;
    --input: 47 15% 85%;
    --ring: 96 10% 32%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 96 10% 10%;
    --foreground: 47 23% 91%;
    --card: 96 10% 15%;
    --card-foreground: 47 23% 91%;
    --popover: 96 10% 15%;
    --popover-foreground: 47 23% 91%;
    --primary: 96 15% 65%;
    --primary-foreground: 96 10% 5%;
    --secondary: 96 10% 25%;
    --secondary-foreground: 47 23% 91%;
    --muted: 96 10% 20%;
    --muted-foreground: 47 23% 70%;
    --accent: 96 15% 55%;
    --accent-foreground: 96 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 96 10% 25%;
    --input: 96 10% 25%;
    --ring: 96 15% 65%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
